<!DOCTYPE html>
<html lang="en-US">

<body >

  <h1>Dashboard</h1>
<div class="row">
  <div class="col-md-3" style="margin-top:2em;">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a data-toggle="tab" href="#home">Priority vs Total time</a></li>
    <li><a data-toggle="tab" href="#menu1">Priority vs Count</a></li>
    <li><a data-toggle="tab" href="#menu2">Phase vs Total time</a></li>
  </ul>
</div>
<div class="col-md-9">
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h1>Priority vs Total time</h1>
      <center>
      <div id="piechart" style="margin-top:0.2em"></div> </center>
      <% var lowtime = lowtime; %>
      <% var hightime = hightime; %>
      <% var mediumtime = mediumtime; %>
      
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      
      <script type="text/javascript">
      // Load google charts
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      
      // Draw the chart and set the chart values
      function drawChart() {
        var lowtime = <%= lowtime  %>;
        var mediumtime = <%= mediumtime  %>;
        var hightime = <%= hightime %>;
        
      
        var data = google.visualization.arrayToDataTable([
        ['Severity', 'countOfIssues'],
        ['High ', hightime],
        ['Medium ', mediumtime],
        ['Low ', lowtime]
      ]);
      
        // Optional; add a title and set the width and height of the chart
        //var options = {'title':'Total time taken', 'width':550, 'height':400};
        var options = {'title':'', 'width':1050, 'height':500};
       
        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
      </script>
    
    </div>
    <div id="menu1" class="tab-pane fade">
      <h1>Priority vs Count</h1>
      <div id="barchart"></div>
      
        <% var low = low; %>
        <% var high = high; %>
        <% var medium = medium; %>
      
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      
        <script type="text/javascript">
          google.charts.load("current", { packages: ["corechart"] });
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
      
            var low = <%= low  %>;
        var medium = <%= medium  %>;
        var high = <%= high %>;
      
            var data = google.visualization.arrayToDataTable([
              ["Priority", "Count", { role: "style" }],
              ["High", high, "#ff3300"],
              ["Medium", medium, "#ffb31a"],
              ["Low", low, "#80ff00"]
      
            ]);
      
            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
              {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
              },
              2]);
      
            var options = {
              // title: "Priority vs Count" ,
              width: 850,
              height: 500,
              bar: { groupWidth: "65%" },
              legend: { position: "none" },
            };
            var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
            chart.draw(view, options);
          }
        </script>
        <div id="barchart_values" style="width: 750px; height: 600px;"></div>
      
    </div>
    <div id="menu2" class="tab-pane fade">
      <h1>Phase vs Total time</h1>
      <div id="piechart2" style="margin-top:0.2em"></div>
      <% var rtim = rtim; %>
      <% var dstim = dstim; %>
      <% var dvtim = dvtim; %>
      <% var tstim = tstim; %>
      
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      
      <script type="text/javascript">
      // Load google charts
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      
      // Draw the chart and set the chart values
      function drawChart() {
        var rtim = <%=rtim%>;
        var dstim = <%=dstim%>;
        var dvtim = <%=dvtim%>;
        var tstim = <%=tstim%>;
        
      
        var data = google.visualization.arrayToDataTable([
        ['Severity', 'countOfIssues'],
        ['Requirement phase', rtim],
        ['Design phase', dstim],
        ['Development phase', dvtim],
        ['Testing phase', tstim]
      ]);
      
        // Optional; add a title and set the width and height of the chart
        //var options = {'title':'Total time taken', 'width':550, 'height':400};
        var options = {'title':'', 'width':900, 'height':500};
      
        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
        chart.draw(data, options);
      }
      </script>
    </div>


  </div>
</div>

</div>












</body>

</html>