
<br/>

<br/>
<h2>Create a new issues</h2>
<p>There are currently
	<%= issueLogs.query.length %> issues. </p>
<br/>
<% 
maxID=0; 
for (var i=0; i<issueLogs.query.length; i++) {
    if(issueLogs.query[i]._id > maxID) {
        maxID=issueLogs.query[i]._id;
        }
}

%>
	<p>The largest issues ID is
		<%= maxID %>. </p>
	
	<div class="content">
		<div>
			<form name="issueLog" method="POST" action="/issueLog/save" + _id.value>

				<div class="form-group" id=frm>
					<label for="_id">ID</label>
					<input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>
				</div>

				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" name="name" value="Name" required>
				</div>
                
                <div class="form-group">
					<label for="unit">Description</label>
					<input type="text" class="form-control" id="unit" name="description" value="Description" required>
                </div>

                 <div class="form-group">
					<label for="unit">Priority</label>
					<input type="text" class="form-control" id="unit" name="priority" value="Priority" required>
                </div>
                
				<div class="form-group">
					<label for="status">Status</label>
					<input type="text" class="form-control" id="status" name="status" value="active" required>
				</div>

				<div class="form-group">
					<input type="submit" value="Post new issue" class="btn btn-primary" />
				</div>
			</form>
			<br/>
			<form method="get" action="/issueLog">
				<input type="submit" value="Return to list" class="btn btn-caution" />
			</form>
		</div>
	</div>
