
<br/>
<br/>
<h2>Confirm deleting this issue?</h2>
<br/>
<br/>
<p>ID:
	<%=  issueLog._id %>
</p>
<p>Name:
	<%=  issueLog.name %>
</p>
<p>Description:
	<%=  issueLog.description %>
</p>
<p>Priority:
	<%=  issueLog.priority %>
</p>
<p>
	Status: <%=  issueLog.status %>
</p>

<br/>
<form method="get" action="/issueLog">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
<br/>
<form method="POST" action="/issueLog/delete/<%= issueLog._id %>">
	<input type="submit" value="Delete this issue?" class="btn btn-danger pull-right" />
</form>
