


<% console.log(issueLogs.query); %>
<div class="container">
 <h2>Issues</h2>


<a href="issueLog/create"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Add a new one</button></a></p>

<table class="table" border="1" id="t13">
    <thead>
      <tr>
      <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Status</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% count=0; %>
<% for (var i = 0; i < issueLogs.query.length; i++) { %>
         <tr> <% count++; %>
            <td><%=  issueLogs.query[i]._id %></td>
            <td><%=  issueLogs.query[i].name %></td>
            <td><%=  issueLogs.query[i].description %></td>
            <td><%=  issueLogs.query[i].priority %></td>   
            <td id="stat"><%=  issueLogs.query[i].isactive?"Active":"Inactive" %></td>
            <td>
            <a href="issueLog/active/<%=  issueLogs.query[i]._id %>/<%=  issueLogs.query[i].isactive?'false':'true' %>">	<button type="button" class="btn <%=  issueLogs.query[i].isactive?'btn-danger':'btn-success' %> modd"> <%=  issueLogs.query[i].isactive?"Deactivate":"Activate" %></button></a>
            <a href="issueLog/details/<%=  issueLogs.query[i]._id %>">	<span class="glyphicon glyphicon-th-list"></span> </a> 
						<a href="issueLog/edit/<%=  issueLogs.query[i]._id %>">	<span class="glyphicon glyphicon-edit"></span></a>
            <a href="issueLog/delete/<%=  issueLogs.query[i]._id %>">	<span class="glyphicon glyphicon-remove"></span></a> 
						</td>
         </tr>
         <% } %>
</tbody>
</table>
</div>