<!DOCTYPE html>
<html lang="en-US">
<body>
<!-- Pie chart -->
<div id="piechart"></div>
<% var low = low; %>
<% var high = high; %>
<% var medium = medium; %>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var low = <%= low  %>;
  var medium = <%= medium  %>;
  var high = <%= high %>;
  

  var data = google.visualization.arrayToDataTable([
  ['Severity', 'countOfIssues'],
  ['High', high],
  ['medium', medium],
  ['low', low]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'Dashboard', 'width':550, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>
<!-- End of pie chart -->
<!-- Bar chart -->
<div id="barchart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var low = <%= low  %>;
  var medium = <%= medium  %>;
  var high = <%= high %>;
      var data = google.visualization.arrayToDataTable([
        
        ["Priority", "Count", { role: "style" } ],
        ["High", high, "#ff3300"],
        ["Medium", medium, "#ffb31a"],
        ["Low", low, "#80ff00"]
        
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Priority of bugs",
        width: 600,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
      chart.draw(view, options);
  }
  </script>
<div id="barchart_values" style="width: 900px; height: 300px;"></div>
<!-- End Of bar chart -->
</body>
</html>
