<br/>

<br/>
<h3>Create a new issue</h3>
<p>There are currently
	<%= issueLogs.query.length %> issues. </p>
<br/>
<% 
maxID=0; 
for (var i=0; i<issueLogs.query.length; i++) {
    if(issueLogs.query[i]._id > maxID) {
        maxID=issueLogs.query[i]._id;
        }
}

%>

	<div class="content">
		<div class="row">
			<div class="col-md-6">
				<form name="issueLog" method="POST" action="/issueLog/save" + _id.value>

					<div class="form-group" id=frm>
						<label for="_id">ID</label>
						<input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>
					</div>

					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" id="name" name="name" value="Name" required>
					</div>

					<div class="form-group">
						<label for="unit">Description</label>
						<input type="text" class="form-control" id="unit" name="description" value="Description" required>
					</div>

					<div class="form-group">
						<label for="priority">Priority</label>
						<select class="form-control" id="priority" name="priority" value="priority">
	  						<option> -Select-</option>
    						<option>High </option>
   							<option>Medium</option>
    						<option>Low</option>
    
 						</select>
					</div>

					<div class="form-group">

						<label for="status">Status</label>
						<input type="text" class="form-control" id="status" name="status" value="Inactive" disabled required>
					</div>


					<div class="form-group">
						<input type="submit" value="Post new issue" class="btn btn-primary" />
					</div>


			</div>
			<!-- end of first col-md-5 -->

			<div class="col-md-6">
				<div class="form-group" id=frm>
					<label for="reqTime">Requirement Time (hrs):</label>
					<input type="number" class="form-control" id="reqTime" min="0" name="reqTime" value="0.0" required>
				</div>

				<div class="form-group">
					<label for="designTime">Design Time (hrs):</label>
					<input type="number" class="form-control" id="designTime" min="0" name="designTime" value="0.0" required>
				</div>

				<div class="form-group">
					<label for="developmentTime">Development Time (hrs):</label>
					<input type="number" class="form-control" id="developmentTime" min="0" name="developmentTime" value="0.0" required>
				</div>

				<div class="form-group">
					<label for="testingTime">Testing Time (hrs):</label>
					<input type="number" class="form-control" id="testingTime" min="0" name="testingTime" value="0.0" required>
				</div>

				<div class="form-group">
					<label for="totalTime">Total Time (hrs): </label>
					<input type="number" class="form-control" id="totalTime" min="0" name="totalTime" value="0.0" required>
				</div>

			</div>
			<!-- end of second col-md-5 -->

			</form>
			<br/>
		</div>



		<br/>
		<form method="get" action="/issueLog">
			<a href="/issueLog"><i class="fa fa-arrow-left" style="background:none;" aria-hidden="true"></i> Return to list</a>
		</form>
	</div>


	</div>
	</div>