<br/>
<br/>
<h2>Details for
  <%=  issueLog.name %>
</h2>
<br/>
<br/>


<table class="table boderless" style="border-width:0px">

  <tr>
    <td style="border-top:none;">ID</td>
    <td style="border-top:none;">
      <%=  issueLog._id %>
    </td>
  </tr>
  <tr>
    <td style="border-top:none;">Name</td>
    <td style="border-top:none;">
      <%=  issueLog.name %>
    </td>
  </tr>
  <tr>
    <td style="border-top:none;">Description</td>
    <td style="border-top:none;">
      <%=  issueLog.description %>
    </td>
  </tr>
  <tr>
    <td style="border-top:none;">Priority</td>
    <td style="border-top:none;">
      <%=  issueLog.priority %>
    </td>
  </tr>
  <tr>
    <td style="border-top:none;">Status</td>
    <td style="border-top:none;">
      <%=  issueLog.status %>
    </td>
  </tr>
  <tr>
    <td style="border-top:none;">Total Time </td>
    <td style="border-top:none;">
      <%=  issueLog.totalTime %>
    </td>
  </tr>

</table>

<br/>


<form method="get" action="/issueLog">
  <input type="submit" value="Return to list" class="btn btn-caution" />
</form>