</br>
</br>
<!-- Retrieve an issue with an particular id and edit it -->
<h2>Edit issues</h2>
<div class="content">
	<div>
		<form method="POST" action="/issueLog/save/<%= issueLog._id %>">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group" id=frm>
						<label for="_id">ID</label>
						<input type="number" class="form-control" id="_id" name="_id" value="<%= issueLog._id %>" required disabled>
					</div>

					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" id="name" name="name" value="<%= issueLog.name %>" required>
					</div>

					<div class="form-group">
						<label for="description">Description</label>
						<input type="text" class="form-control" id="description" name="description" value="<%= issueLog.description %>" required>
					</div>

					<div class="form-group">
						<label for="priority">Priority</label>
						<input type="text" class="form-control" id="priority" name="priority" value="<%= issueLog.priority %>" required>
					</div>

					<div class="form-group">
						<label for="status">Status</label>
						<input type="text" class="form-control" id="status" name="status" value="<%= issueLog.status %>" required>
					</div>
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
				<!-- div for first column of the grid ends -->
				<div class="col-md-6">
					<div class="form-group" id=frm>
						<label for="reqTime">Requirement Time (hrs):</label>
						<input type="number" class="form-control" id="reqTime" min="0"  step="0.01" name="reqTime" value="<%= issueLog.reqTime %>" required>
					</div>

					<div class="form-group">
						<label for="designTime">Design Time (hrs):</label>
						<input type="number" class="form-control" id="designTime" min="0" step="0.01" name="designTime" value="<%= issueLog.designTime %>"
						 required>
					</div>

					<div class="form-group">
						<label for="developmentTime">Development Time (hrs):</label>
						<input type="number" class="form-control" id="developmentTime" min="0" step="0.01" name="developmentTime" value="<%= issueLog.developmentTime %>"
						 required>
					</div>

					<div class="form-group">
						<label for="testingTime">Testing Time (hrs):</label>
						<input type="number" class="form-control" id="testingTime" min="0" step="0.01" name="testingTime" value="<%= issueLog.testingTime %>"
						 required>
					</div>

					<div class="form-group">
						<label for="totalTime">Total Time (hrs): </label>
						<input type="number" class="form-control" id="totalTime" min="0" step="0.01" name="totalTime" value="<%= issueLog.totalTime %>" required>
					</div>

				</div>




		</form>

		</div>
		<br/>
	</div>

	<div class="row">
		<div class="col-md-3">
			<label for="phase">Select Phase:</label>
			<select class="form-control" id="phase">
	  <option> -Select-</option>
    <option>Requirements Phase</option>
    <option>Design Phase</option>
    <option>Development Phase</option>
    <option>Testing Phase</option>
  </select>
		</div>
		<div class="col-md-3">  <!-- time functionality   -->
			<button style="margin-top:10%" type="button" class="btn btn-success" id="start">start</button>
			<button style="margin-top:10%" type="button" class="btn btn-warning" id="stop">pause</button>
			<button style="margin-top:10%" type="button" class="btn btn-danger" id="clear">stop</button>

		</div>
		<div class="col-md-3">
				<!-- time measured in hours   -->
			<p style=" margin-top:10%;font-size:2em;">
				<time>00:00:00</time>
			</p>
		</div>


	</div>



	<script>
		var h1 = document.getElementsByTagName('p')[0],
			start = document.getElementById('start'),
			stop = document.getElementById('stop'),
			clear = document.getElementById('clear'),
			reqTime = document.getElementById('reqTime'),
			designTime = document.getElementById('designTime'),
			developmentTime = document.getElementById('developmentTime'),
			testingTime = document.getElementById('testingTime'),
			totalTime = document.getElementById('totalTime'),
			seconds = 0, minutes = 12, hours = 2,
			total = parseFloat(totalTime.value),
			reqtime = parseFloat(reqTime.value),
			destime = parseFloat(designTime.value),
			devtime = parseFloat(developmentTime.value),
			testtime = parseFloat(testingTime.value),
			totPhaseTime = 0,
			finalMins,
			t;

		function add() {   //time calculation
			seconds++;
			if (seconds >= 60) {
				seconds = 0;
				minutes++;
				if (minutes >= 60) {
					minutes = 0;
					hours++;
				}
			}

			h1.textContent = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);

			timer();
		}
		function timer() {
			t = setTimeout(add, 1000);
		}



		/* Start button */
		start.onclick = timer;

		/* Stop button */
		stop.onclick = function () {
			clearTimeout(t);

		}

		/* Clear button */
		clear.onclick = function () {
			h1.textContent = "00:00:00";
			finalMins = minutes / 60;
			totPhaseTime = finalMins + hours;
			totPhaseTime.toFixed(2);
			total = total + hours + finalMins;

			seconds = 0; minutes = 12; hours = 2;
			clearTimeout(t);
			setValue();


		}

		function setValue() {
					// time calculation based on the phase
			var x = document.getElementById("phase").selectedIndex;
			var selectedOption = document.getElementsByTagName("option")[x].value;
			switch (selectedOption) {
				case "Requirements Phase":
					reqtime = reqtime + totPhaseTime;
					reqTime.value = reqtime.toFixed(2);
					reqTime.focus();
					totalTime.value = total.toFixed(2);
					finalMins = 0;
					totPhaseTime = 0;
					break;

				case "Design Phase":
					destime = destime + totPhaseTime;
					designTime.value = destime.toFixed(2);
					designTime.focus();
					totalTime.value = total.toFixed(2);
					finalMins = 0;
					totPhaseTime = 0;
					break;

				case "Development Phase":
					devtime = devtime + totPhaseTime;
					developmentTime.value = devtime.toFixed(2);
					developmentTime.focus();
					totalTime.value = total.toFixed(2);
					finalMins = 0;
					totPhaseTime = 0;
					break;

				case "Testing Phase":
					testtime = testtime + totPhaseTime;
					testingTime.value = testtime.toFixed(2);
					testingTime.focus();
					totalTime.value = total.toFixed(2);
					finalMins = 0;
					totPhaseTime = 0;
					break;

				default:
					total = 0;
					alert("Please select a phase!");
					break;


			}

		}
	</script>
	<form method="get" action="/issueLog">
		<a href="/issueLog"><i class="fa fa-arrow-left" style="background:none;" aria-hidden="true"></i> Return to list</a>
	</form>
</div>
</div>