<% console.log(issueLogs.query); %>
  <div class="container">
    <h1>Issues</h1>

    <script>
      // Call the dataTables jQuery plugin
      $(document).ready(function () {
        $('#t13').DataTable();
      });


      $('body .dropdown-toggle').dropdown();
    </script>
    <a href="issueLog/create"><img src="../images/add.ico" style="width:2em; height:2em;"> &nbsp;Add a new issue</a></p>
    <!-- Loop through the collection and view all the entries -->
    <table class="table table-stripped" border="1" id="t13">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Priority</th>
          <th>Status</th>
          <th> Total Time</th>
          <th>Actions</th>

        </tr>
      </thead>
      <tbody>
        <% count=0; %>
          <% for (var i = 0; i < issueLogs.query.length; i++) { %>
            <tr>
              <% count++; %>
                <td>
                  <%=  issueLogs.query[i]._id %>
                </td>
                <td><a href="issueLog/details/<%=  issueLogs.query[i]._id %>"><span><%=  issueLogs.query[i].name %></span></a></td>
                <td>
                  <%=  issueLogs.query[i].description %>
                </td>
                <td>
                  <%=  issueLogs.query[i].priority %>
                </td>
                <td id="stat">
                  <%=  issueLogs.query[i].isactive?"Active":"Inactive" %>
                </td>
                <td>
                  <%=  issueLogs.query[i].totalTime %> Hrs</td>
                <td>
                  <a href="issueLog/active/<%=  issueLogs.query[i]._id %>/<%=  issueLogs.query[i].isactive?'false':'true' %>">
                    <%=  issueLogs.query[i].isactive?"Deactivate":"Activate" %>
                  </a> |
                  <a href="issueLog/edit/<%=  issueLogs.query[i]._id %>">	Resolve</a> |
                  <a href="issueLog/delete/<%=  issueLogs.query[i]._id %>">Delete</a>
                </td>

            </tr>
            <% } %>
      </tbody>
    </table>
  </div>