body {
  overflow-x: hidden;
}

#footer {
   position:relative;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
  
}
td{
  border-top:none;

}
.navbar-bran {
  float: left;
  height: 50px;
  padding: 1px 15px;
  font-size: 18px;
  line-height: 20px;
}